In [1]:
%pip install sklearn

Requirement already satisfied: sklearn in c:\users\abirm\envs\acceptance_venv\lib\site-packages (0.0)
Requirement already satisfied: scikit-learn in c:\users\abirm\envs\acceptance_venv\lib\site-packages (from sklearn) (1.0.2)
Requirement already satisfied: joblib>=0.11 in c:\users\abirm\envs\acceptance_venv\lib\site-packages (from scikit-learn->sklearn) (1.0.1)
Requirement already satisfied: scipy>=1.1.0 in c:\users\abirm\envs\acceptance_venv\lib\site-packages (from scikit-learn->sklearn) (1.8.0)
Requirement already satisfied: numpy>=1.14.6 in c:\users\abirm\envs\acceptance_venv\lib\site-packages (from scikit-learn->sklearn) (1.21.6)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\abirm\envs\acceptance_venv\lib\site-packages (from scikit-learn->sklearn) (3.1.0)
Note: you may need to restart the kernel to use updated packages.

In [2]:
import pandas as pd
import numpy as np
import sklearn
from sklearn.feature_extraction.text import CountVectorizer, TfidfTransformer
from sklearn.pipeline import Pipeline

In [3]:
refugee = pd.read_csv('1milrefugee_f_dataset.csv', index_col=0)

In [4]:
df = refugee.copy()

In [5]:
df['impact_level'].value_counts()

no impact             731932
medium impact          91535
general impact         69310
medium-high impact     53942
medium-low impact      31616
high-low impac         13851
low impact              2771
high impact             2095
super impact            1807
high-high impact        1141
Name: impact_level, dtype: int64

In [6]:
df = df.drop(['id', 'predicted_new_occupation', 'predicted_new_income', 'predicted_living_cost', 'predicted_tax_rate', 'predicted_tax_ammount', 'discretionary_income', 'would_relying_on', 'predicted_unchr_mandatory_contribution_amount_of_all', 'accepted_refugee_unhcr_contribution_prediction', 'single_family_support_contribution', 'number_of_refugee_family_supported', 'qualified_for_unhcr_mandatory_contribution', 'impact_level'], axis=1)

In [7]:
df.tail()

,language,education_level,last_occupation,predicted_employment_nation,mandatory_contribution_range
999995,Native + English,Undergrad,Junior DevOps Professional,UK,£1488 to £6448
999996,Native,Primary,Not employed,UK,£1250 and lower
999997,Native + English,No Education,Construction Worker,UK,£1250 and lower
999998,Native + English,Masters,Senior Administrative Assistant,UK,£1250 and lower
999999,Native + French,High School,Baker,France,£1250 and lower

In [8]:
df.to_csv('1milrefugee_range_final_dataset.csv')