In [2]:
%pip install -U imbalanced-learn

Requirement already satisfied: imbalanced-learn in c:\users\abirm\envs\acceptance_venv\lib\site-packages (0.9.0)
Requirement already satisfied: joblib>=0.11 in c:\users\abirm\envs\acceptance_venv\lib\site-packages (from imbalanced-learn) (1.1.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\abirm\envs\acceptance_venv\lib\site-packages (from imbalanced-learn) (3.1.0)
Requirement already satisfied: numpy>=1.14.6 in c:\users\abirm\envs\acceptance_venv\lib\site-packages (from imbalanced-learn) (1.22.3)
Requirement already satisfied: scipy>=1.1.0 in c:\users\abirm\envs\acceptance_venv\lib\site-packages (from imbalanced-learn) (1.8.0)
Requirement already satisfied: scikit-learn>=1.0.1 in c:\users\abirm\envs\acceptance_venv\lib\site-packages (from imbalanced-learn) (1.0.2)
Note: you may need to restart the kernel to use updated packages.

In [3]:
%pip install category_encoders

Collecting category_encoders
  Downloading category_encoders-2.4.0-py2.py3-none-any.whl (86 kB)
     ---------------------------------------- 86.6/86.6 KB 4.8 MB/s eta 0:00:00
Requirement already satisfied: scikit-learn>=0.20.0 in c:\users\abirm\envs\acceptance_venv\lib\site-packages (from category_encoders) (1.0.2)
Requirement already satisfied: scipy>=1.0.0 in c:\users\abirm\envs\acceptance_venv\lib\site-packages (from category_encoders) (1.8.0)
Collecting patsy>=0.5.1
  Downloading patsy-0.5.2-py2.py3-none-any.whl (233 kB)
     ------------------------------------- 233.7/233.7 KB 14.0 MB/s eta 0:00:00
Requirement already satisfied: numpy>=1.14.0 in c:\users\abirm\envs\acceptance_venv\lib\site-packages (from category_encoders) (1.22.3)
Requirement already satisfied: pandas>=0.21.1 in c:\users\abirm\envs\acceptance_venv\lib\site-packages (from category_encoders) (1.4.2)
Collecting statsmodels>=0.9.0
  Downloading statsmodels-0.13.2-cp310-cp310-win_amd64.whl (9.1 MB)
     ---------------------------------------- 9.1/9.1 MB 21.6 MB/s eta 0:00:00
Requirement already satisfied: pytz>=2020.1 in c:\users\abirm\envs\acceptance_venv\lib\site-packages (from pandas>=0.21.1->category_encoders) (2022.1)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\abirm\envs\acceptance_venv\lib\site-packages (from pandas>=0.21.1->category_encoders) (2.8.2)
Requirement already satisfied: six in c:\users\abirm\envs\acceptance_venv\lib\site-packages (from patsy>=0.5.1->category_encoders) (1.16.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\abirm\envs\acceptance_venv\lib\site-packages (from scikit-learn>=0.20.0->category_encoders) (3.1.0)
Requirement already satisfied: joblib>=0.11 in c:\users\abirm\envs\acceptance_venv\lib\site-packages (from scikit-learn>=0.20.0->category_encoders) (1.1.0)
Requirement already satisfied: packaging>=21.3 in c:\users\abirm\envs\acceptance_venv\lib\site-packages (from statsmodels>=0.9.0->category_encoders) (21.3)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in c:\users\abirm\envs\acceptance_venv\lib\site-packages (from packaging>=21.3->statsmodels>=0.9.0->category_encoders) (3.0.7)
Installing collected packages: patsy, statsmodels, category_encoders
Successfully installed category_encoders-2.4.0 patsy-0.5.2 statsmodels-0.13.2
Note: you may need to restart the kernel to use updated packages.

In [4]:
%pip install sklearn

Requirement already satisfied: sklearn in c:\users\abirm\envs\acceptance_venv\lib\site-packages (0.0)
Requirement already satisfied: scikit-learn in c:\users\abirm\envs\acceptance_venv\lib\site-packages (from sklearn) (1.0.2)
Requirement already satisfied: joblib>=0.11 in c:\users\abirm\envs\acceptance_venv\lib\site-packages (from scikit-learn->sklearn) (1.1.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\abirm\envs\acceptance_venv\lib\site-packages (from scikit-learn->sklearn) (3.1.0)
Requirement already satisfied: scipy>=1.1.0 in c:\users\abirm\envs\acceptance_venv\lib\site-packages (from scikit-learn->sklearn) (1.8.0)
Requirement already satisfied: numpy>=1.14.6 in c:\users\abirm\envs\acceptance_venv\lib\site-packages (from scikit-learn->sklearn) (1.22.3)
Note: you may need to restart the kernel to use updated packages.

In [21]:
#Importing Libraries

Importing Libs

In [7]:
import pandas as pd
import numpy as np
import math
import io
import category_encoders as ce
from category_encoders import *
import sklearn
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import OneHotEncoder
from sklearn.multioutput import MultiOutputClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.naive_bayes import MultinomialNB
from sklearn.feature_extraction.text import CountVectorizer, TfidfTransformer
from sklearn.model_selection import train_test_split
from sklearn.pipeline import Pipeline
from sklearn.metrics import accuracy_score, classification_report, confusion_matrix, multilabel_confusion_matrix, precision_recall_fscore_support, plot_roc_curve, plot_confusion_matrix, plot_precision_recall_curve, plot_det_curve

In [ ]:
#Importing the CSV file without the Unnamed:0 and checking the columns and datatypes and null values-

In [10]:
filename = ("0refugee_dataset.csv")

In [12]:
df = pd.read_csv(filename, index_col=0)

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 100000 entries, 0 to 99999
Data columns (total 19 columns):
 #   Column                                                Non-Null Count   Dtype
---  ------                                                --------------   -----
 0   id                                                    100000 non-null  object
 1   language                                              100000 non-null  object
 2   education_level                                       100000 non-null  object
 3   last_occupation                                       100000 non-null  object
 4   predicted_employment_nation                           100000 non-null  object
 5   predicted_new_occupation                              100000 non-null  object
 6   predicted_new_income                                  100000 non-null  int64
 7   predicted_living_cost                                 100000 non-null  int64
 8   predicted_tax_rate                                    100000 non-null  float64
 9   predicted_tax_ammount                                 100000 non-null  float64
 10  discretionary_income                                  100000 non-null  float64
 11  would_relying_on                                      100000 non-null  object
 12  predicted_unchr_mandatory_contribution_amount_of_all  100000 non-null  float64
 13  accepted_refugee_unhcr_contribution_prediction        100000 non-null  float64
 14  single_family_support_contribution                    100000 non-null  int64
 15  number_of_refugee_family_supported                    100000 non-null  float64
 16  qualified_for_unhcr_mandatory_contribution            100000 non-null  object
 17  impact_level                                          100000 non-null  object
 18  mandatory_contribution_range                          100000 non-null  object
dtypes: float64(6), int64(3), object(10)
memory usage: 15.3+ MB

In [14]:
df.head()

,id,language,education_level,last_occupation,predicted_employment_nation,predicted_new_occupation,predicted_new_income,predicted_living_cost,predicted_tax_rate,predicted_tax_ammount,discretionary_income,would_relying_on,predicted_unchr_mandatory_contribution_amount_of_all,accepted_refugee_unhcr_contribution_prediction,single_family_support_contribution,number_of_refugee_family_supported,qualified_for_unhcr_mandatory_contribution,impact_level,mandatory_contribution_range
0,b267fb5a9ec342f2824ed421a51c402c,Native,No Education,Mechanic,UK,Mechanic,0,24060,0.000,0.0,-24060.0,unemployemnt benefits,0.0,0.0,248,0.0,not accepted,no impact,£1250 and lower
1,f0dea19ace1d4da884a43473d5fc1d01,Native,No Education,Chefs,US,Chefs,0,29136,0.000,0.0,-29136.0,unemployemnt benefits,0.0,0.0,248,0.0,not accepted,no impact,£1250 and lower
2,f0182310c6c24678abaa7b91d3ea69fe,Native + English,Masters,Electrical Engineer,US,Electrical Engineer,55139,29136,0.205,11304.0,14699.0,self income,14699.0,14699.0,248,59.0,accepted,medium impact,£8432 to £16864
3,027ee1ef27e04b00ac3e79bff5355af7,Native + English,Associate Degree,Cloud Engineer,UK,Cloud Engineer,61579,24060,0.400,24632.0,12887.0,self income,12887.0,12887.0,248,51.0,accepted,medium impact,£8432 to £16864
4,741d019d8e3046caa7a4322eddaab0ab,Native,Masters,Medical Technician,UK,Medical Technician,62248,24060,0.400,24900.0,13288.0,self income,13288.0,13288.0,248,53.0,accepted,medium impact,£8432 to £16864

In [ ]:
#creating a new dataframe with the desired features and labels

In [15]:
df2 = df[['language','education_level', 'last_occupation', 'qualified_for_unhcr_mandatory_contribution']]
df2.tail()

,language,education_level,last_occupation,qualified_for_unhcr_mandatory_contribution
99995,Native + French,High School,Farmer,not accepted
99996,Native + English,Undergrad,Nurses and Personal Carers,not accepted
99997,Native + English,No Education,Mechanic,not accepted
99998,Native + English + French,Associate Degree,Physical Therapist,accepted
99999,Native + English,Undergrad,Pharmaceutical Professional,accepted

In [16]:
df3 = df[['language','education_level', 'last_occupation']]
df3.tail()

,language,education_level,last_occupation
99995,Native + French,High School,Farmer
99996,Native + English,Undergrad,Nurses and Personal Carers
99997,Native + English,No Education,Mechanic
99998,Native + English + French,Associate Degree,Physical Therapist
99999,Native + English,Undergrad,Pharmaceutical Professional

In [17]:
add_columns = pd.get_dummies(df3, columns=['language','education_level', 'last_occupation'])

In [18]:
add_columns.columns

Index(['language_Native', 'language_Native + English',
       'language_Native + English + French', 'language_Native + French',
       'education_level_Associate Degree', 'education_level_High School',
       'education_level_Masters', 'education_level_No Education',
       'education_level_PhD', 'education_level_Primary',
       'education_level_Undergrad', 'education_level_Vocational Degree',
       'last_occupation_AI Specialist', 'last_occupation_Accountant',
       'last_occupation_Administrative Assistant', 'last_occupation_Baker',
       'last_occupation_Chefs', 'last_occupation_Civil Engineer',
       'last_occupation_Cloud Engineer', 'last_occupation_Construction Worker',
       'last_occupation_Cybersecurity Professional',
       'last_occupation_Data Scientist', 'last_occupation_Dentist',
       'last_occupation_DevOps Professional',
       'last_occupation_Electrical Engineer',
       'last_occupation_Electronic Engineer', 'last_occupation_Farmer',
       'last_occupation_Fisher',
       'last_occupation_IT Professional and Constultant',
       'last_occupation_Legal Professional',
       'last_occupation_Machine Learning Professional',
       'last_occupation_Managment Professional',
       'last_occupation_Marketing Professional', 'last_occupation_Mechanic',
       'last_occupation_Mechanical Engineer', 'last_occupation_Medical Doctor',
       'last_occupation_Medical Technician',
       'last_occupation_Newtwork Engineer', 'last_occupation_Not employed',
       'last_occupation_Nurses and Personal Carers',
       'last_occupation_Petroleum Engineer',
       'last_occupation_Pharmaceutical Professional',
       'last_occupation_Physical Therapist',
       'last_occupation_Sales Professional',
       'last_occupation_Software Developer',
       'last_occupation_University Lecturer', 'last_occupation_Vet'],
      dtype='object')

In [20]:
x_train = add_columns.iloc[:,:-1]
y_train = df2["qualified_for_unhcr_mandatory_contribution"]

x_test = add_columns.iloc[:,:-1]
y_test = df2["qualified_for_unhcr_mandatory_contribution"]

x_test = add_columns.iloc[:,:-1]
y_test = df2["qualified_for_unhcr_mandatory_contribution"]

print("shape of original dataset :", df2.shape)
print("shape of input - training set", x_train.shape)
print("shape of output - training set", y_train.shape)
print("shape of input - testing set", x_test.shape)
print("shape of output - testing set", y_test.shape)

shape of original dataset : (100000, 4)
shape of input - training set (100000, 46)
shape of output - training set (100000,)
shape of input - testing set (100000, 46)
shape of output - testing set (100000,)